//标签样式
.tags .tag-item{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    min-width: 1.5em;
    margin: 0 0.2em;
    padding: 0 0.2em;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 0.6em;
    background: #f8f8f8;
    font-size: 0.6em;
    text-align: center;
    overflow: hidden;
    transition: all .2s;
}
.iconfont[data-v-8557f27a] {
    display: inline-block;
    line-height: 1rem !important;
}

// 侧边栏样式
// 左侧侧边栏标题
.sidebar > .sidebar-links > li > a.sidebar-link {
  margin-left: -0.5em;
  padding: 2px 16px 2px 36px;
}
.sidebar > .sidebar-links > li > a.sidebar-link.active {
    font-size: 1.1em ;
    // color: #070808 !important;
    // background: #c3d4b742 !important;
}
// 右侧文章标题导航栏
a.sidebar-link {
    line-height: 1.6 !important;
}
.level-2 a.sidebar-link {
    font-weight:bold;
}
.sub-sidebar-wrapper li a{
    padding: 0.1rem 0 !important;
}
.sub-sidebar-wrapper li.active{
    border-left: 3px solid #3eaf7c !important;
}


